<div class="container">
	<div class="row">
	<div class="col-lg-3"></div>

	<div class="col-lg-6">
<h1 class="text-center">New post</h1>

<%= render 'form' %>
</div>
<div class="col-lg-3"></div>
</div>

</div>