body {
	padding-top: 70px;
}

a {
	text-decoration: none;
}

.post {
	border: 1px solid #ECF0F1;
	border-radius: 5px;
	background-color: #ECF0F1;
	padding: 10px;
	margin: 10px;
}

.checkbox input {
	opacity: 1;
}